<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @test.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @test.apellido %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
